{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/profile_form.css">
{% endblock %}

{% block sidebar %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<br />
{% for name, reservation_list in reservation_categories %}
<h5>{{ name }}</h5>
<table style="width:100%">
    <colgroup>
        <col style="width:30%" />
        <col style="width:30%" />
        <col style="width:20%" />
        <col style="width:20%" />
    </colgroup>
    <thead style="background-color:#333;color:#fff;">
        <tr>
            <td>Startdatum</td>
            <td>Enddatum</td>
            <td>Status</td>
            <td>Aktionen</td>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservation_list %}
        <tr>
            <td>{{ reservation.start_date }}</td>
            <td>{{ reservation.end_date }}</td>
            <td>{{ reservation.get_state_display }}</td>
            <td><a href="{{ reservation.get_absolute_url }}">Details</a>{% if reservation.state == 1 %} <a href="{{ MEDIA_URL }}{{ reservation.get_pdf_path }}">PDF</a>{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
{% endfor %}
{% endblock %}
