{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/profile_form.css">
{% endblock %}

{% block sidebar %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<br />
{% for name, reservation_list in reservation_categories %}
<h6>{{ name }}</h6>
<br />
<table>
    {% for reservation in reservation_list %}
    <tr>
        <td>{{ reservation }}</td>
        <td>{{ reservation.get_state_display }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}
