{% extends "base.html" %}

{% block sidebar %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumbs">
	<p><a href="/">Home</a>	&raquo; Einstellungen</p>
</div>
<h1>Benutzerdaten</h1>
<p>Benutzername: {{ request.user.username }}</p>
<p>Vorname: {{ request.user.first_name }}</p>
<p>Nachname: {{ request.user.last_name }}</p>
<p>E-Mail: {{ request.user.email }}</p>

<form method="post" action="">
    {% csrf_token %}
    {{ formset }}
    <input type="submit" value="Speichern">
</form>

<p>Letzte Anmeldung: {{ request.user.last_login }}</p>
{% endblock %}
