{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/profile_form.css">
{% endblock %}

{% block sidebar %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<h1>Einstellungen</h1>
<div id="userdata">
	<h5>Stammdaten</h5>
	<table>
		<colgroup>
			<col style="width:200px" />
			<col />
		</colgroup>
		<tbody>
			<tr>
				<td>Benutzername</td>
				<td>{{ request.user.username }}</td>
			</tr>
			<tr>
				<td>Vorname</td>
				<td>{{ request.user.first_name }}</td>
			</tr>
			<tr>
				<td>Nachname</td>
				<td>{{ request.user.last_name }}</td>
			</tr>
			<tr>
				<td>E-Mail</td>
				<td>{{ request.user.email }}</td>
			</tr>
		</tbody>
	</table>
	<br /><br />
	<h5>Zusätzliche Daten</h5>
	<form method="post" action="">
		{% csrf_token %}
		<table>
			<colgroup>
				<col width="200px">
				<col width="">
			</colgroup>
			<tbody>
				<tr>
					<td>{{ formset.student_number.label_tag }}</td>
					<td>{{ formset.student_number }}</td>
				</tr>
				<tr>
					<td>{{ formset.phone.label_tag }}</td>
					<td>{{ formset.phone }}</td>
				</tr>
				<tr>
					<td>{{ formset.mobile_phone.label_tag }}</td>
					<td>{{ formset.mobile_phone }}</td>
				</tr>
			</tbody>
		</table>
		<br />
		<p class="left"><input class="save" type="submit" value="Speichern"></p>
	</form>
<div>
<br />
<p style="font-size:0.9em;text-align:right">Letzte Anmeldung: {{ request.user.last_login }}</p>
{% endblock %}
