div#contact_person {
	float: left;
	width: 350px;
	margin-bottom: 10px;
	border: 1px solid #666;
}
div#legend {
	float:right;
	width:350px;
	margin-bottom:10px;
	border: 1px solid #666;
}
div#legend p,
div#contact_person p {
	line-height: 2em;
	padding: 0 10px;
}
div#legend p.title,
div#contact_person p.title {
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 2em;
	background-color: #666;
}
table#producttype_list {
	width: 100%;
}
table#producttype_list thead td {
	color:#fff;
	font-weight:bold;
	text-align:center;
	background-color:#666;
	line-height: 2em;
}
table#producttype_list tbody tr {
	border-bottom: 1px solid #ccc;
}
table#producttype_list tbody tr.even {
	background-color: #f5f5f5;
}
table#producttype_list tbody tr td {
	vertical-align:top;
	padding:10px;
}
table#producttype_list tbody tr td img {
	width:90px;
	height:90px;
}
table#producttype_list tbody tr td p {
	line-height:1.2em;
}
table#producttype_list tbody tr td p.title {
	font-size: 1.2em;
}
