table#producttype_list {
    width: 100%;
    margin-top: 10px;
}
table#producttype_list thead {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color:#333;
}
table#producttype_list thead td {
    color:#fff;
    font-weight:bold;
    text-align:center;
    line-height: 2.5em;
    font-size: .9em;
}
table#producttype_list thead td.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
table#producttype_list thead td.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
table#producttype_list tbody tr {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
table#producttype_list tbody tr.even {
    background-color: #eee;
}
table#producttype_list tbody tr td {
    vertical-align: top;
    padding: 5px 10px;
}
table#producttype_list tbody tr td img {
    width:80px;
    height:80px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}
table#producttype_list tbody tr td p {
    line-height:1.2em;
}
table#producttype_list tbody tr td p.title {
    font-size: 1.2em;
}
table#producttype_list tbody tr td p.count {
    text-align: center;
}
