form#contact input[type="text"],
form#contact input[type="password"] {
    width: 300px;
}
form#contact textarea {
    width: 650px;
    height: 100px;
    padding: 3px;
    border: 1px solid #ccc;
    margin-top: 3px;
}
form#contact table {
	width: 100%;
}
form#contact table tr td {
	vertical-align: middle;
}
input[type="reset"].cross {
	padding: 7px 10px 7px 30px;
	background-image: url(../img/icon/cross.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}
input[type="submit"].mail {
	padding: 7px 10px 7px 30px;
	background-image: url(../img/icon/mail.png);
	background-position: 10px center;
	background-repeat: no-repeat;
}