table#dashboard {
	width: 100%;
}
table#dashboard thead {
	padding: 0;
    background-color: #333;
}
table#dashboard thead td {
	line-height: 2.5em;
    font-size: .9em;
    font-weight: bold;
    color: #fff;
    padding: 0;
}
table#dashboard tbody tr {
	border-bottom: 1px solid #ccc;
	line-height: 2em;
}
table#dashboard tbody tr.even {
	background-color: #eee;
}
table#dashboard tbody tr td {
	padding: 3px;
	vertical-align: middle;
}
table#dashboard td.uberfallig {
	background-color: #f00;
}
table#dashboard td.reserviert {
	background-color: #0c0;
}
table#dashboard td.anfrage {
	background-color: #FFE500;
}
table#dashboard td.abgelehnt {
	background-color: #333;
}
table#dashboard tr.abgelehnt {
	color: #999;
}
table#dashboard tbody tr td img {
	vertical-align: middle;
}
section#content p {
	line-height: 1.5em;
}
a.cancel,
input[type="submit"].cancel {
    padding: 7px 10px 7px 30px;
    background-image: url(../img/icon/cross.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}