form#login {
    text-align: center;
}
form#login table {
    margin: 0 auto;
}
form#login table td {
    text-align: left;
    padding-left: 5px;
}
form#login input[type="text"],
form#login input[type="password"] {
    width: 150px;
}