#producttype_detail .photo img {
	float: left;
	padding: 0 20px 20px 0;
	width: 200px;
	height: 200px;
}
div#actions {
	height: 35px;
}
div#actions img {
	padding: 5px 20px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 2px;
}
div#actions img:hover {
	background: #eee;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 2px #ddd;
}
table#product_list {
	width: 100%;
}
table#product_list > thead {
	padding-bottom: 10px;
}
table#product_list > thead > tr > td {
	color:#fff;
	font-weight:bold;
	text-align:left;
	background-color:#666;
	line-height: 2em;
	padding-left: 10px;
}
table#product_list > tbody > tr {
}
table#product_list > tbody > tr.even {
	background-color: #f5f5f5;
}
table#product_list > tbody > tr > td {
	vertical-align: middle;
	padding: 5px;
}
table#product_list > tbody > tr > td p {
}
table#product_list > tbody > tr > td > a.title {
	color: #000;
	font-size: 1.2em;
	text-decoration: none;
}
table#product_list > tbody > tr > td.actions {
	text-align: right;
	vertical-align: middle;
}
table#product_list > tbody > tr > td.actions img {
	margin-left: 5px;
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 2px;
	vertical-align: middle;
}
table#product_list > tbody > tr > td.actions img:hover {
	background: #eee;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 2px #ddd;
}
table.timeline {
	width: 100%;
	text-align: center;
	height: 37px;
}
table.timeline > thead > tr > td {
	text-align: center;
	border-right: 1px solid #eee;
}
table.timeline > tbody > tr > td {
	text-align: center;
}
table.timeline > tbody > tr > td.back,
table.timeline > tbody > tr > td.forward {
	height: 26px;
	width: 29px;
	vertical-align: middle;
}
table.timeline > tbody > tr > td.back {
	border-right: 1px solid #ccc;
}
table.timeline > tbody > tr > td.forward a {
	display: block;
	height: 100%;
	width: 100%;
	background-image: url(../img/icon/arrow_right.png);
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
table.timeline > tbody > tr > td.forward a:hover {
	background-image: url(../img/icon/arrow_right_over.png);
}
table.timeline > tbody > tr > td.back a {
	display: block;
	height: 100%;
	width: 100%;
	background-image: url(../img/icon/arrow_left.png);
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
table.timeline > tbody > tr > td.back a:hover {
	background-image: url(../img/icon/arrow_left_over.png);
}
table.timeline > tbody > tr > td.free {
	background: #3e1;
	vertical-align: middle;
	font-weight: bold;
	border-right: 1px solid #3d1;
}
table.timeline > tbody > tr > td.pending {
	background: #01DF01 url(../img/green_hatch.png);
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	border-right: 1px solid #3a1;
}
table.timeline > tbody > tr > td.reserved {
	background: #c00 url(../img/red_hatch.png);
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	border-right: 1px solid #c00;
}
table.timeline > tbody > tr > td.start {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
table.timeline > tbody > tr > td.end {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: none;
}
table.timeline p.date {
	font-size: 0.7em;
}
table.timeline p.date_head {
	font-size: 0.7em;
	margin-bottom: 3px;
	color: #666;
}
table.timeline p.saturday {
	color: #999;
}
table.timeline p.sunday {
	color: #F78181;
}
