body {
    min-height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: repeat-y;
}
section#content_wrapper {
    width: 920px;
    padding-top: 20px;
    margin-left: 75px;
}
nav#sidebar {
    float: right;
    width: 200px;
    line-height: 2.5em;
    color: #fff;
}
nav#sidebar p {
	padding: 0 5px;
}
nav#sidebar p.title {
    color: #fff;
    background-color: #939;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
nav#sidebar ul {
}
nav#sidebar ul li {
}
nav#sidebar ul li a {
    display: block;
    color: #eee;
    text-decoration: none;
    padding-left: 15px;
}
nav#sidebar ul li a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #555;
}
div#contact {
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
div#tree {
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
div#tree a.current {
    background-color: #444;
    font-weight :bold;
}
section#content {
    padding: 0 10px;
    margin-right: 225px;
}
section#content div#breadcrumbs {
    color: #999;
    font-size: .8em;
    padding-left: 5px;
    margin-bottom:10px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
section#content div#breadcrumbs p {
    padding-bottom: 5px;
}
.errorlist {
    padding: 5px;
    background-color: #F6CECE;
    border: 1px solid #FA5858;
}
input[type="text"],
input[type="password"] {
    padding: 3px;
    border: 1px solid #ccc;
    margin: 2px 0;
}
input[type="submit"],
input[type="reset"] {
    font-weight: bold;
    padding: 7px 10px;
    margin: 10px 10px 10px 0;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 4px;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #bbb;
}
.adminopt {
    float: right;
}
.adminopt a {
    padding: 0;
    margin: 0;
    font-size: 0;
}