body {
    min-height: 100%;
    width: 100%;
    background-position: center top;
    background-repeat: repeat-y;
}
section#nav_top {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    background-color: #333;
    background-image: url('../img/nav_bg.png');
    background-position: top right;
    background-repeat: repeat-y;
}
section#nav_top > a {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid #222;
}
section#nav_top a.home {
    background-image: url('../img/icon/home.png');
}
section#nav_top a.home:hover {
    background-color: #444;
    background-image: url('../img/icon/home.png');
}
section#nav_top a.home.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/home_over.png');
}
section#nav_top a.cart {
    background-image: url('../img/icon/cart.png');
}
section#nav_top a.cart:hover {
    background-color: #444;
    background-image: url('../img/icon/cart.png');
}
section#nav_top a.cart.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/cart_over.png');
}
section#nav_top a.user {
    background-image: url('../img/icon/user.png');
}
section#nav_top a.user:hover {
    background-color: #444;
    background-image: url('../img/icon/user.png');
}
section#nav_top a.user.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/user_over.png');
}
section#nav_top a.dashboard {
    background-image: url('../img/icon/order.png');
}
section#nav_top a.dashboard:hover {
    background-color: #444;
    background-image: url('../img/icon/order.png');
}
section#nav_top a.dashboard.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/order_over.png');
}
section#nav_top a.admin {
    background-image: url('../img/icon/settings.png');
}
section#nav_top a.admin:hover {
    background-color: #444;
    background-image: url('../img/icon/settings.png');
}
section#nav_top a.admin.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/settings_over.png');
}
section#nav_top a.contact {
    background-image: url('../img/icon/pen.png');
}
section#nav_top a.contact:hover {
    background-color: #444;
    background-image: url('../img/icon/pen.png');
}
section#nav_top a.contact.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/pen_over.png');
}
section#nav_top a.login {
    background-image: url('../img/icon/login.png');
}
section#nav_top a.login:hover {
    background-color: #444;
    background-image: url('../img/icon/login.png');
}
section#nav_top a.login.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/login_over.png');
}
section#nav_top a.logout {
    background-image: url('../img/icon/logout.png');
}
section#nav_top a.logout:hover {
    background-color: #444;
    background-image: url('../img/icon/logout.png');
}
section#nav_top a.logout.current {
    background-color: #f5f5f5;
    background-image: url('../img/icon/logout_over.png');
}
section#content_wrapper {
    width: 920px;
    padding-top: 20px;
    margin-left: 75px;
}
nav#sidebar {
    float: right;
    width: 200px;
    line-height: 2.5em;
    color: #fff;
}
nav#sidebar p {
	padding: 0 5px;
}
nav#sidebar p.title {
    color: #fff;
    background-color: #939;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
nav#sidebar ul {
}
nav#sidebar ul li {
}
nav#sidebar ul li a {
    display: block;
    color: #eee;
    text-decoration: none;
    padding-left: 15px;
}
nav#sidebar ul li a:hover {
    color: #fff;
    font-weight: bold;
    background-color: #555;
}
div#contact {
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
div#tree {
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
div#tree a.current {
    background-color: #444;
    font-weight :bold;
}
section#content {
    padding: 0 10px;
    margin-right: 225px;
}
section#content div#breadcrumbs {
    color: #999;
    font-size: .8em;
    padding-left: 5px;
    margin-bottom:10px;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
section#content div#breadcrumbs p {
    padding-bottom: 5px;
}
.errorlist {
    padding: 5px;
    background-color: #F6CECE;
    border: 1px solid #FA5858;
}
input[type="text"],
input[type="password"] {
    padding: 3px;
    border: 1px solid #ccc;
    margin: 2px 0;
}
input[type="submit"],
input[type="reset"] {
    font-weight: bold;
    padding: 7px 10px;
    margin: 10px 5px;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 4px;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
    border: 1px solid #aaa;
    box-shadow: 0 0 3px #bbb;
}