div#actions {
    height: 35px;
}
div#actions img {
    padding: 5px 20px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
}
div#actions img:hover {
    background: #eee;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 2px #ddd;
    box-shadow: inset 0px 0px 2px #fff;
}
a#checkout {
	float: right;
}
a#clear {
	float: left;
}
