input[type="submit"].checkout {
    padding: 7px 10px 7px 30px;
    background-image: url(../img/icon/cart_go.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}
a.clear {
    padding: 7px 10px 7px 30px;
    background-image: url(../img/icon/bin.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}
a.add {
    padding: 7px 10px 7px 30px;
    background-image: url(../img/icon/add.png);
    background-position: 10px center;
    background-repeat: no-repeat;
}