Django==1.3.1
PIL==1.1.7
python-ldap==2.4.3
django-auth-ldap==1.0.12
reportlab
-e git+https://github.com/django-mptt/django-mptt.git@8ab6a85aecd8023afb709ab5e1e3ad26e58a84a4#egg=django_mptt-dev
MySQL-python
gunicorn
