{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/admin.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/navigation.css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/tipsy.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700' rel='stylesheet' type='text/css' />
{% endblock %}

{% block extrahead %}
	{{ block.super }}
	<script src="{{ MEDIA_URL }}js/jquery-1.7.min.js"></script>
	<script src="{{ MEDIA_URL }}js/jquery.tipsy.js"></script>
	<script>
        $(function() {
            $('.tipsy_n').tipsy({delayIn: 500, gravity: 'n'});
            $('.tipsy_w').tipsy({fade: true, gravity: 'w'});
            $('.tipsy_s').tipsy({delayIn: 500, gravity: 's'});
            $('.tipsy_e').tipsy({fade: true, gravity: 'e'});
            $('.tipsy_adminopt').tipsy({delayIn: 500, fade: true, gravity: 'n'});
        });
    </script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Verleihsystem-Administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Verleihsystem-Administration' %}</h1>
{% endblock %}

{% block nav-global %}{% include 'navigation.html' %}{% endblock %}
