{% extends "base.html" %}
{% load mptt_tags %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/categories_detail.css">
{% endblock %}

{% block sidebar %}
	{% include 'categories/category_contact.html' %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumbs">
	<p><a href="/">Home</a>
	{% for a in category.get_ancestors %}
		&raquo; <a href="{{ a.get_absolute_url }}">{{ a.name }}</a>
	{% endfor %}
	&raquo; {{ category.name }}
	</p>
</div>
<h1>{{ category.name }}</h1>
<table id="producttype_list">
	<colgroup>
		<col width="110px">
		<col width="">
		<col width:="75px">
		<col width="125px">
	</colgroup>
	<thead>
		<tr>
			<td>Bild</td>
			<td>Name</td>
			<td>Anzahl</td>
			<td>Kategorien</td>
		</tr>
	</thead>
	<tbody>
{% for product in product_list %}
	{% cycle 'odd' 'even' as rowcolors silent %}
	<tr class="{{ rowcolors }}">
		<td>{% if product.picture %}
			<img src="{{ product.picture.url }}" />
		{% else %}
			<img src="{{ MEDIA_URL }}img/no_picture.png" />
		{% endif %}
		</td>
		<td>
			<p class="title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
			<p class="description">{{ product.description|truncatewords:15 }}
		</td>
		<td>{{ product.product_count }}</td>
		<td>
			{% for c in product.categories.all %}
				<p><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></p>
			{% endfor %}
		</td>
	</tr>
{% endfor %}
	</tbody>
</table>
{% endblock %}
