{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/producttype_detail.css">
{% endblock %}

{% block sidebar %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<div id="breadcrumbs">
	<p><a href="/">Home</a> &raquo; Warenkorb</p>
</div>

<h1>Warenkorb</h1>
<div id="actions">
	<a href="{% url shoppingcart_clear %}" style="float:left" rel="tipsy_w" title="Aktualisieren"><img src="{{ MEDIA_URL }}img/icon/arrow_refresh.png" /></a>
	<a href="#" style="float:right" rel="tipsy_e" title="Auschecken"><img src="{{ MEDIA_URL }}img/icon/cart_go.png" /></a>
</div>
<table id="product_list">
	<colgroup>
		<col width="300px">
		<col width="">
		<col width="150px">
	</colgroup>
	<thead>
		<tr>
			<td>ID/Serial No.</td>
			<td>Beschreibung</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{% for product in product_list %}
		{% cycle 'odd' 'even' as rowcolors silent %}
		<tr class="{{ rowcolors }}">
			<td>{{ product.product_type.name }}: {{ product.sn }}</td>
			<td>{{ product.brief_description }}</td>
			<td class="actions">
			{% if product.id in request.session.cart %}
				<a href="{% url shoppingcart_remove %}?id={{ product.id }}"><img src="{{ MEDIA_URL }}img/icon/cart_minus.png" /></a>
			{% else %}
				<a href="{% url shoppingcart_add %}?id={{ product.id }}"><img src="{{ MEDIA_URL }}img/icon/cart_plus.png" /></a>
			{% endif %}
			</td>
		</tr>
		<tr class="{{ rowcolors }}">
			<td colspan="3">
			{% include "products/snippet_timeline.html" %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block script %}
{{ block.super }}
{% include "products/timeline_javascript.html" %}
{% endblock %}
