{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/dashboard.css">
{% endblock %}

{% block content %}

<h1>Reservierungsdetails</h1>

<p>Startdatum: {{ reservation.start_date }}<br>
Enddatum: {{ reservation.end_date }}<br>
abgeholt am: {{ reservation.borrow_date|default:"--" }}<br>
Status: {{ reservation.get_state_display }}<br>
Kommentar: {{ reservation.comments|default:"--" }}
</p>
<br />
{% if reservation.state == 1 %}
 	<p class="left"><a href="{{ MEDIA_URL }}{{ reservation.get_pdf_path }}"><img src="{{ MEDIA_URL }}img/icon/page_white_acrobat.png" alt="" /> Leihschein als PDF herunterladen</a></p>
{% endif %}
<br />
<h6>reservierte Produkte</h6>
<table id="dashboard">
{% for entry in reservation.reservationentry_set.all %}
    <tr>
        <td><a href="{{ entry.product.product_type.get_absolute_url }}">{{ entry.product.product_type.name }}</a></td>
        <td>{{ entry.product.sn }}</td>
    </tr>
{% endfor %}
</table>
<br />
{% if reservation.is_cancellable %}
	<p class="center"><a href="{% url reservation_delete reservation.id %}">Reservierung stornieren</a></p>
{% endif %}
{% endblock %}
