<!DOCTYPE html> 
<html lang="de"> 
<head> 
    <title>{% block title %}Verleihsystem{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/core.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/navigation.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/tipsy.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,700' rel='stylesheet' type='text/css'>
    {% block extra_css %}{% endblock %}
    <script src="{{ MEDIA_URL }}js/jquery-1.7.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery-ui.datepicker-de.js"></script>
    <script src="{{ MEDIA_URL }}js/jquery.tipsy.js"></script>
</head>
<body>
    {% include 'navigation.html' %}
    <section id="content_wrapper">
        <nav id="sidebar">
        {% block sidebar %}
            {% include 'categories/category_tree.html' %}
        {% endblock %}
        </nav>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
        <section class="clear"></section>
    </section>
    {% block script %}
        <script>
        $(function() {
            $('*[rel=tipsy_n]').tipsy({delayIn: 500, gravity: 'n'});
            $('*[rel=tipsy_w]').tipsy({fade: true, gravity: 'w'});
            $('*[rel=tipsy_s]').tipsy({delayIn: 500, gravity: 's'});
            $('*[rel=tipsy_e]').tipsy({fade: true, gravity: 'e'});
            $('*[rel=tipsy_adminopt]').tipsy({delayIn: 500, fade: true, gravity: 'n'});
        });
        </script>
    {% endblock %}
</body> 
</html>
