{% extends "base.html" %}
{% load url from future %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/contact.css">
{% endblock %}

{% block sidebar %}
	{% include 'categories/category_tree.html' %}
{% endblock %}

{% block content %}
<h1>Kontakt</h1>
<hr />
<form id="contact" action="/contact/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table>
        <colgroup>
            <col style="width:100px" />
            <col style="width:310px" />
            <col style="" />
        </colgroup>
        <tr>
            <td><label for="id_name">Name:</label></td>
            <td>{{ form.name }}</td>
            <td>{{ form.name.errors }}</td>
        </tr>
        <tr>
            <td><label for="id_mail">E-Mail:</label></td>
            <td>{{ form.mail }}</td>
            <td>{{ form.mail.errors }}</td>
        </tr>
        <tr>
            <td><label for="id_subject">Betreff:</label></td>
            <td>{{ form.subject }}</td>
            <td>{{ form.subject.errors }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">{{ form.message.errors }}</td>
        </tr>
        <tr>
            <td><label for="id_message">Nachricht:</label></td>
            <td colspan="2">{{ form.message }}</td>
        </tr>
        <tr>
            <td colspan="3">{{ form.cc_myself.errors }}</td>
        </tr>
        <tr class="center">
            <td colspan="3"><label for="id_cc_myself">Kopie an mich selbst schicken?</label> {{ form.cc_myself }}</td>
        </tr>
    </table>
    <br />
    <p class="center">
        <input class="cross" type="reset" value="Zurücksetzten" />
        <input class="mail" type="submit" value="Abschicken" />
    </p>
</form>
{% endblock %}