{% extends "base.html" %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/producttype_detail.css">
{% endblock %}

{% block content %}
<h1>{{ producttype.name }}{% if request.user.is_staff %}
	    {% include "products/snippet_admin_links.html" %}
	{% endif %}</h1>
<div id="producttype_detail">
	<p class="photo">
	{% if producttype.picture %}
		<img src="{{ producttype.picture.url }}" alt="" />
	{% else %}
		<img src="{{ MEDIA_URL }}img/no_picture.png" alt="" />
	{% endif %}
	</p>
	<p class="description">
		{{ producttype.description }}
	</p>
</div>
<div class="clear"></div>
<table id="product_list">
	<colgroup>
		<col style="width:150px" />
		<col style="" />
		<col style="width:30px" />
	</colgroup>
	<thead>
		<tr>
			<td class="first">ID/Serial No.</td>
			<td>Beschreibung</td>
			<td class="last"></td>
		</tr>
	</thead>
	<tbody>
	{% for product in product_list %}
		{% cycle 'odd' 'even' as rowcolors silent %}
		<tr class="{{ rowcolors }}" style="border-top:1px solid #fff">
			<td>{{ product.sn }}</td>
			<td>{{ product.brief_description }}</td>
			<td rowspan="2" class="actions" style="border-bottom: 1px solid #ccc">
			{% if product.id in request.session.cart %}
				<a href="{% url shoppingcart_remove %}?id={{ product.id }}"><img src="{{ MEDIA_URL }}img/icon/cart_minus.png" alt="Entfernen" /></a>
			{% else %}
				<a href="{% url shoppingcart_add %}?id={{ product.id }}"><img src="{{ MEDIA_URL }}img/icon/cart_plus.png" alt="Hinzufügen" /></a>
			{% endif %}
			</td>
		</tr>
		<tr class="{{ rowcolors }}" style="border-bottom:1px solid #ccc">
			<td colspan="2">
			{% include "products/snippet_timeline.html" %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block script %}
{{ block.super }}
{% include "products/timeline_javascript.html" %}
{% endblock %}
