<table class="timeline" id="product{{ product.id }}">
	<tbody>
		<tr>
			{% with year=previous_range|date:"Y" month=previous_range|date:"m" day=previous_range|date:"d" %}
			<td class="back">
                <a class="navPrev" href="{{ request.url }}?timeline={{ year }}-{{ month }}-{{ day }}">
                <img src="{{ MEDIA_URL }}img/icon/arrow_left.png" alt="&laquo;"></a>
			</td>
			{% endwith %}
			{% for day in product.timeline %}
			<td>
				<p class="date">{{ day.date|date:"d.m" }}</p>
				{% if day.reserved %}
					<p class="reserved">&nbsp;</p>
				{% else %}
					<p class="free">&nbsp;</p>
				{% endif %}
			</td>
			{% endfor %}
			<td class="forward">
			{% with year=next_range|date:"Y" month=next_range|date:"m" day=next_range|date:"d" %}
            <a class="navNext" href="{{ request.url }}?timeline={{ year }}-{{ month }}-{{ day }}">
            <img src="{{ MEDIA_URL }}img/icon/arrow_right.png" alt="&raquo;"></a>
			</td>
			{% endwith %}
		</tr>
	</tbody>
</table>
