<table class="timeline" id="product{{ product.id }}">
    <tbody>
        <tr>
            <td></td>
            {% for day in product.timeline %}
            <td><p class="date_head {% if day.date|date:"w" == "0" %}sunday {% endif %}{% if day.date|date:"w" == "6" %}saturday{% endif %}">{{ day.date|date:"D" }}</p></td>
            {% endfor %}
            <td style="border:0"></td>
        </tr>
        <tr>
            {% with year=previous_range|date:"Y" month=previous_range|date:"m" day=previous_range|date:"d" %}
            <td class="back">
                <a class="navPrev" href="{{ request.url }}?timeline={{ year }}-{{ month }}-{{ day }}">&nbsp;</a>
            </td>
            {% endwith %}
            {% for day in product.timeline %}
            <td class="tipsy_n {% if day.state == 0 %}pending{% else %}{% if day.state == 1 %}reserved{% else %}free{% endif %}{% endif %}" title="{% if day.state == 0 %}Anfrage vorhanden{% else %}{% if day.state == 1 %}Reserviert{% else %}Frei{% endif %}{% endif %}">
                <p class="date">{% if day.reservation and request.user.is_staff %}<a href="{{ day.reservation.get_absolute_url }}">{{ day.date|date:"d.m" }}</a>{% else %}{{ day.date|date:"d.m" }}{% endif %}</p>
            </td>
            {% endfor %}
            <td class="forward">
            {% with year=next_range|date:"Y" month=next_range|date:"m" day=next_range|date:"d" %}
            <a class="navNext" href="{{ request.url }}?timeline={{ year }}-{{ month }}-{{ day }}">&nbsp;</a>
            </td>
            {% endwith %}
        </tr>
    </tbody>
</table>
