<script>

function UpdateTimeline(eventObject) {
    $('.timeline').empty().html('<img src="{{ MEDIA_URL }}img/loading.gif" />');
    // statische Variablen für Timeline-Navigation setzen
    if (typeof UpdateTimeline.previousURL == 'undefined') {
        {% with year=previous_range|date:"Y" month=previous_range|date:"m" day=previous_range|date:"d" %}
        UpdateTimeline.previousURL = "{% url reservation_date_list year month day %}";
        {% endwith %}
        {% with year=next_range|date:"Y" month=next_range|date:"m" day=next_range|date:"d" %}
        UpdateTimeline.nextURL = "{% url reservation_date_list year month day %}";
        {% endwith %}
    }
    // Pruefung in welche Richtung naviviert werden soll
    if (eventObject.target.className == 'navPrev') {
        requestURL = UpdateTimeline.previousURL;
    } else if (eventObject.target.className == 'navNext') {
        requestURL = UpdateTimeline.nextURL;
    } else {
        return true;
    }
    // Timeline holen und aktualisieren
    $.ajax({
        url: requestURL,
        type: "post",
        data: { 'products': [{% for product in product_list %}{{ product.id }}, {% endfor %}]},
        success: function(response, textStatus, jqXHR) {
            for (var i = 0; i < response.timeline.length; i++) {
                product = response.timeline[i];
                $('#product' + product[0]).html(product[1]);
            }
            UpdateTimeline.previousURL = response.previous_url;
            UpdateTimeline.nextURL = response.next_url;
        },
        error: function(jqXHR, testStatus, errorThrown) {
            // Error handling
        },
        complete: function() {
            $('*[rel=tipsy_n]').tipsy({delayIn: 500, gravity: 'n'});
            $('*[rel=tipsy_w]').tipsy({fade: true, gravity: 'w'});
            $('*[rel=tipsy_s]').tipsy({delayIn: 500, gravity: 's'});
            $('*[rel=tipsy_e]').tipsy({fade: true, gravity: 'e'});
        }
    });

return false;
}

$(function() {
    $('.timeline').on("click", "a", UpdateTimeline);
    $('*[rel=tipsy_n]').tipsy({delayIn: 500, gravity: 'n'});
    $('*[rel=tipsy_w]').tipsy({fade: true, gravity: 'w'});
    $('*[rel=tipsy_s]').tipsy({delayIn: 500, gravity: 's'});
    $('*[rel=tipsy_e]').tipsy({fade: true, gravity: 'e'});
});
</script>
